.varsha{
    width: 30%;
    margin-bottom: 3mm;
}
.seema{
    width: 30%;
    height: 49%;
    margin-left: 3mm;
    margin-right: 3mm;
    margin-bottom: 3mm;
}
.seema{
    width: 30%;
    height: 49%;
    margin-left: 3mm;
    margin-right: 3mm;
    margin-bottom: 3mm;
}
.ashawini{
    width: 30%;
    height: 49%;
    margin-left: 3mm;
    margin-right: 3mm;
    margin-bottom: 3mm;
}
.sushma{
    width: 30%;
    height: 49%;
    margin-left: 3mm;
    margin-right: 3mm;
    margin-bottom: 3mm;
}
.ajay{
    width: 30%;
    height: 49%;
    margin-left: 3mm;
    margin-right: 3mm;
    margin-bottom: 3mm;
}
.robin{
    width: 30%;
    height: 49%;
    margin-left: 3mm;
    margin-right: 3mm;
    margin-bottom: 3mm;
}
.ruby{
    width: 30%;
    height: 49%;
    margin-left: 3mm;
    margin-right: 3mm;
    margin-bottom: 3mm;
}

